
*{
    font-family: 'Roboto', sans-serif;
}

.container-main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    height: 38px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
    margin: 24px 0;
    padding: 8px;
    outline: none;
    border: 1px solid #b6b6b6;
    font-weight: 500;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
   text-decoration: none;
   color: rgb(253, 253, 253);
   background-color: rgb(0, 119, 255);
   width: 10rem;
   height: 2rem;
   border: none;
   border-radius: 2px;
   font-weight: 700;
   cursor: pointer;
}

.link:hover{
    background-color: rgb(6, 88, 182);
}

p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 6rem;
}